* {
    box-sizing: border-box;
    margin: 10px 20px 0 20px;
    padding: 0;
}

html {
    padding: 0;
    margin: 0;
}

body {
    --clr: white;
    --bg-clr: black;
    background-color: black;
    color: var(--clr);
}

.light-mode {
    --clr: black;
    --bg-clr: white;
    background-color: white;
    color: var(--clr);
}

nav {
    margin-top: 0;
    font-family: 'Mulish', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #a5a5b0;
}

nav ol {
    display: flex;
    list-style: none;
    margin: 0;
}

li a {
    text-decoration: none;
    color: var(--clr);
    margin: 0;
    background-image: linear-gradient(180deg, transparent 95%,  #a5a5b0 ,  #a5a5b0);
    background-repeat: no-repeat;
    background-size: 0 100%;
    padding-bottom: 3px;
    transition: background-size .3s;

}
.dropdown-menu {
    background-color: var(--clr);
    opacity: .5;
    transition: all ease-out .5s;
}
.dropdown-menu li {
    margin: 0;
    padding: 5px;
    text-align: center;
    transition: none;
}
.dropdown-menu li:hover {
    background-color: #a5a5b0;
}
.dropdown-menu li a {
    margin: 0;padding: 0;
    color: var(--bg-clr);
    
    background-image: none;
}
.dropdown-menu li a:hover {
    background-color: #a5a5b0;
}

a:hover {
    background-position-x: left;
    background-size: 100% 100%;
}

.nameLogo {
    font-size: 2em;
    font-family: 'Alegreya Sans SC', sans-serif;
    text-decoration: none;
    color: #a5a5b0;
    margin-left: 0;
}

.nameLogo:hover {
    opacity: .8;
}

.container {
    display: flex;
    align-items: end;
    cursor: pointer;
    font-size: 20px;
    fill: #a5a5b0;
}

.container .moon {
    position: absolute;
    animation: keyframes-fill .5s;
}

.container .sun {
    position: absolute;
    display: none;
    animation: keyframes-fill .5s;
}

.container input:checked~.moon {
    display: none;

}

.container input:checked~.sun {
    display: block;
}

.container input {
    opacity: 0;
}

@keyframes keyframes-fill {
    0% {
        transform: rotate(-360deg) scale(0);
        opacity: 0;
    }

    75% {
        transform: rotate(25deg);
    }
}

main {
    font-family: 'Poppins';
    font-weight: 300;
    margin-top: 5%;
    padding-bottom: 3.5%;
    border-bottom: 1px solid #a5a5b0;
}

main>img {
    float: right;
    border-radius: 50%;
}

.name {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 3rem;
    background: linear-gradient(-10deg, #DD5789 -1.72%, #9845E8 54.05%, #33D2FF 99.78%);
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: gradient 2.5s ease-in infinite alternate;
}

@keyframes gradient {
    0% {
        background-position: 0% 75%;
    }

    50% {
        background-position: 100% 30%;
    }

    100% {
        background-position: 0% 75%;
    }
}

.button {
    padding: 5px;
    margin: 2px 1px 2px 0;
    background-color: rgb(17, 16, 16);
    color: white;
    border-image: linear-gradient( #F4426C, #9358F7, #4e86a5) 1;
    border-width: 2px;
    border-style: solid;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    vertical-align: top;
}

.button img {
    margin: 5px 2px 5px 5px;
}

section>h5 {
    text-transform: uppercase;
    font-family: "Holtwood One SC", serif;
    font-weight: lighter;
}

section {
    margin-top: 2em;
    border-bottom: 1px solid #a5a5b0;
}

section div {
    text-overflow: ellipsis;
    overflow-x: hidden;
    padding: 10px;
    margin: 0;
}
#Project_name {
    padding: 0;
    margin-bottom: 5%;
    font-weight: 900;
}

#project_detail {
    margin: 15px;
    font-family: 'Poppins';
    font-weight: 300;
   
}
#btn {
    position: relative;
}
#tech {
    font-weight: 100;
    color: #6CACE4;
}
section div img {
    aspect-ratio: 16 / 9;
    object-fit: cover;
}
section a{
    color: var(--clr);
    margin: 0;
    padding: 0;
}
#demo {
    margin-right: 5%;
}
#btn #code{
        vertical-align: top;
        padding: 0;
        margin: 0;
}