* {
    box-sizing: border-box;
    margin: 10px 20px 0 20px;
    padding: 0;
}

body {
    --clr: white;
    background-color: black;
    color: var(--clr);
}

.light-mode {
    --clr: black;
    background-color: white;
    color: var(--clr);
}

nav {
    font-family: 'Mulish', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #a5a5b0;
}

.list {
    display: contents;
}

nav ol {
    display: flex;
    list-style: none;
    margin: 0;
}

li a {
    text-decoration: none;
    color: var(--clr);
}

.nameLogo {
    font-size: 2em;
    font-family: 'Alegreya Sans SC', sans-serif;
    text-decoration: none;
    color: #a5a5b0;
    margin-left: 0;
}

.nameLogo:hover {
    opacity: .8;
}

.container {
    display: flex;
    justify-content: center;
    align-items: self-end;
    cursor: pointer;
    font-size: 20px;
    fill: #a5a5b0;
}

.container .moon {
    position: absolute;
    animation: keyframes-fill .5s;
}

.container .sun {
    position: absolute;
    display: none;
    animation: keyframes-fill .5s;
}

.container input:checked~.moon {
    display: none;

}

.container input:checked~.sun {
    display: block;
}

.container input {
    opacity: 0;
}

@keyframes keyframes-fill {
    0% {
        transform: rotate(-360deg) scale(0);
        opacity: 0;
    }

    75% {
        transform: rotate(25deg);
    }
}

main {
    font-family: 'Poppins';
    font-weight: 300;
    margin-top: 4%;
    padding-bottom: 3.5%;
    border-bottom: 1px solid #a5a5b0;
}

main>img {
    float: right;
    border-radius: 50%;
}

.name {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 3rem;
    background: linear-gradient(-10deg, #DD5789 -1.72%, #9845E8 54.05%, #33D2FF 99.78%);
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: gradient 2.5s ease-in infinite alternate;
}

@keyframes gradient {
    0% {
        background-position: 0% 75%;
    }

    50% {
        background-position: 100% 30%;
    }

    100% {
        background-position: 0% 75%;
    }
}

.buttons-container a {
    margin: 2px 1px 2px 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

.button {
    padding: 5px;
    margin-left: 2px;
    border-image: linear-gradient(#9358F7, #F4426C, #4e86a5) 1;
    border-width: 2px;
    border-style: solid;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}

.button img {
    margin: 1px;
}